In [2]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=list(range(6)), columns=list('ABCD'))
df

          A         B         C         D
0  0.165815 -1.120785 -0.258728  0.676438
1  1.203239 -1.308375  0.445633  1.219289
2 -0.014909 -1.025626  0.314022  1.569544
3  0.269509  0.013594  1.101935  0.073003
4  0.760346  0.266494  1.210698  0.671708
5  1.053491  0.262960  1.333656  0.831228

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.572915 -0.485290  0.691203  0.840202
std    0.503332  0.741246  0.625501  0.513718
min   -0.014909 -1.308375 -0.258728  0.073003
25%    0.191739 -1.096995  0.346925  0.672891
50%    0.514928 -0.506016  0.773784  0.753833
75%    0.980205  0.200618  1.183507  1.122274
max    1.203239  0.266494  1.333656  1.569544